body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bg-image {
    max-width: 800px;
    padding: 81px auto;
    margin: 50px auto;
    border-radius: 5px;
}

.weather-wrapper {
    max-width: 800px;
    padding: 20px auto;
}

.weather-app {
    border: 1px solid#adade1;
    margin: 50px auto;
    border-radius: 5px;
    padding: 81px;
    max-width: 800;


}

.weather-view {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64;
    width: 64;
}

.weather-temperature strong {
    color: blueviolet;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: black;

}

.date-forcast {
    font-size: 16px;
    opacity: 0.5;
}

.forecast-temperature {
    font: size 13px;

}

.forecast-temperature-min {
    opacity: 0.5;
}

h1 {
    font-size: 24px;
    font-weight: 100px;
    color: black;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 16px;
    font-weight: 100px;
    line-height: 19px;
    color: rgba(135, 135, 135);
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
}

li:first-letter {
    text-transform: capitalize;
}